/precompiled.h.gch
/configuration.h
/.settings
/doxygen
/tags
/openzone.tag

*.gcno
gmon.out
pg.out

/valgrind.supp
/pogon.*

/build
/mingw32

/*CMakeCache.txt
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
