/*.kdev4
*.kate-swp
/CMakeLists.txt.user*
/.project
/.cproject
/.settings

/doc/doxygen*
/share
/lib
/ports
/build

/data/*/*
!/data/netradiant/*
!/data/*/ui
/data/*/ui/cur
/data/*/ui/font
/data/*/ui/icon
!/data/gtkradiant/*
!/data/*/baseq3
/data/*/baseq3/*
!/data/*/baseq3/maps
/data/*/baseq3/maps/*
!/data/*/baseq3/maps/*.json
!/data/*/class
!/data/*/credits
!/data/*/frag
!/data/*/glsl
!/data/*/lingua
!/data/*/lua
!/data/*/mission

DISABLED
*.pot
*.mo
*.png
*.bmp

/*.patch
/*.trace
/cppcheck.log
/stats
/*.tar.gz
/*.tar.bz2
/*.tar.xz
/*.7z
