/CMakeLists.txt.user*
/*.kdev4
*.kate-swp
/.project
/.cproject
/.settings

/doc/doxygen*
/share
/lib
/ports
/build
/gh-pages
/web

/data/*/baseq3/*
!/data/*/baseq3/maps
/data/*/caelum
/data/*/mdl
/data/*/music
/data/*/name
/data/*/snd
/data/*/terra
/data/*/ui/*
!/data/*/ui/style.json

DISABLED
*.pot
*.mo
*.dds
*.png
*.jpg
*.jpeg
*.bmp
*.map
*.bsp
*.prt
*.srf
*.bak

/*.patch
/*.trace
/*.log
/stats
/*.tar.gz
/*.tar.bz2
/*.tar.xz
/*.zip
/*.7z
