@import url('http://fonts.googleapis.com/css?family=Droid+Sans+Mono');

body {
  font-family: 'Droid Sans Mono', monospace;
  font-size: 10.5pt;
  text-shadow: black 1px 1px 1px;
  color: #b0e0c8;
  background-color: #0a100c;
}

a {
  text-decoration: none;
  color: #40c0a0;
}
a:hover {
  text-decoration: underline;
}

b {
  font-weight: normal;
  color: #ffffff;
}

small {
  font-size: 8pt;
}

code {
  font-family: 'Droid Sans Mono', monospace;
  color: #ffffff;
}

h1, h2, h3, h4 {
  margin-bottom: 4pt;
  color: #ffffff;
}
h1 > a, h2 > a, h3 > a, h4 > a {
  color: #ffffff;
}

dt {
  margin-bottom: 5px;
  color: #ffffff;
}
dd {
  margin-bottom: 15px;
}

table th {
  font-weight: normal;
  text-align: left;
  color: #ffffff;
}
table th, table td {
  padding-right: 10pt;
}
table tr.spacing {
  height: 10pt;
}
table.headerRight th {
  text-align: right;
}
table.firstRight td:first-child {
  text-align: right;
}
