body {
  font-family: "Droid Sans Mono", monospace;
  font-size: 10pt;
  text-shadow: black 1px 1px 1px;
  color: #b0e0c8;
  background-color: #0a100c;
}
a {
  color: #40c0a0;
}
a:visited {
  color: #308066;
}
code {
  color: #ffffff;
}
h1 {
  font-size: 2.0em;
  text-align: center;
  color: #ffffff;
}
h2 {
  font-size: 1.6em;
  margin-bottom: 4pt;
  color: #ffffff;
}
h3 {
  font-size: 1.3em;
  margin-bottom: 4pt;
  color: #ffffff;
}
h4 {
  font-size: 1.1em;
  margin-bottom: 4pt;
  color: #ffffff;
}
table {
  font-size: 10pt;
}
th {
  font-weight: normal;
  text-align: left;
  padding-right: 10pt;
  color: #ffffff;
}
td {
  padding-right: 10pt;
}
td.header {
  font-size: 1.25em;
  font-weight: bold;
  color: #ddfff0;
}
td.rowspace {
  height: 10pt;
}

/* README. */
table.keys th {
  text-align: right;
}
table.settings td {
  padding-left: 20pt;
  padding-bottom: 10pt;
}
.centre {
  text-align: center;
}

/* NaCl game page. */
div.module {
  text-align: center;
  padding: 0.25em;
  background-color: #050806;
}
table#hudArea {
  position: absolute;
  top: 100px;
  width: 100%;
}
table#hudArea td#hudText {
  width: 600px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}
