@import url('doc/style.css');

table#hudArea {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 1.25em;
}

embed#module {
  display: block;
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  height: 100%;
}
